<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ALL DATA</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
          th ,td {
            text-align: center;
          }
        </style>
      </head>
    <body>

        <div class="container">
            <br>
            <a href="/" class="btn btn-primary"><i style='font-size:24px' class='fas'>&#xf060;</i> <strong>Back</strong></a>
            <h1 style="text-align:center;font-weight: bold;">Customer Data</h1>
            <br>

              <table class="table" border="1">
                <thead class="thead-dark">
                   <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">DataofBirth</th>
                        <th scope="col">Email</th>
                        <th scope="col">MobileNumber</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {{range .}}
                   <tr>
                        <td>  {{.Customerid}} </td>
                        <td>   {{.FirstName}} </td>
                        <td>   {{.LastName}} </td>
                        <td>   {{.Dateofbirth}} </td>
                        <td>   {{.Email}} </td>
                        <td>   {{.Mobilenumber}} </td>
                        <td>   <a href="/customer-edit?id={{.Customerid}}"><button type="button" class="btn btn-info"><i style='font-size:24px' class='fas'>&#xf044;</i><strong> Edit</strong></button></a> </td>
                        <td> <button type="button" id="{{ .Customerid }}" class="deletcustomer btn btn-danger"><i style="font-size:24px" class="fa">&#xf014;</i><strong> Delete</strong></button></td>
                        <form method="DELETE" action="/customer-delete" id="deleteform">
                          <input type="hidden" name="method" value="DELETE">
                            <input type="hidden" name="id" value="{{ .Customerid }}">
                        </form>
                      </tr>
                {{end}}
            </tbody>
              </table>
            <br><br>

        </div>

        <script type="text/javascript">
          $(document).ready(function() {
              $(".deletcustomer").each(function(){
                  $(this).on("click",function(){
                      customerid = $(this).attr("id");
                      if(confirm("Are you sure you want to delete the customer with ID " +customerid+" ? ")){
                          //window.location = "/customer-delete?id="+customerid;
                          $("#deleteform").submit();
                      }
                  });
              });




          });
      </script>

    </body>

</html>
